* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.title {
    cursor: pointer;
}

.title:hover {
    color: aqua;
}

.desc {
    display: none;
}